---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import BaseLayout from '@src/layouts/BaseLayout.astro';
import { slugify } from '@src/utils';

type BlogPost = CollectionEntry<'blog'>;
interface Tag {
	value: string;
	label: string;
	postCount: number;
}

function groupTagsByFirstLetter(tags: Tag[]) {
	const grouped = tags.reduce(
		(acc, tag) => {
			const firstLetter = tag.label[0].toUpperCase();
			if (!acc[firstLetter]) {
				acc[firstLetter] = [];
			}
			acc[firstLetter].push(tag);
			return acc;
		},
		{} as Record<string, Tag[]>
	);

	return Object.entries(grouped)
		.sort(([a], [b]) => a.localeCompare(b))
		.map(([letter, tags]) => ({
			letter,
			tags: tags.sort((a, b) => a.label.localeCompare(b.label))
		}));
}

const allPosts: BlogPost[] = await getCollection('blog');
const mappedTags: { [key: string]: Tag } = {};
for (const post of allPosts) {
	for (const tag of post.data?.tags || []) {
		const tagValue = slugify(tag);
		if (mappedTags[tagValue]) {
			mappedTags[tagValue].postCount += 1;
		} else {
			const _tag: Tag = {
				value: tagValue,
				label: tag,
				postCount: 1
			};
			mappedTags[tagValue] = _tag;
		}
	}
}
const groupedTags = groupTagsByFirstLetter(Object.values(mappedTags));
const title = `All Tags`;
const description = 'Post tags: concise keywords categorising content for easy navigation and improved searchability';
---

<BaseLayout title={title} description={description}>
	<div class='container'>
		<div class='mb-12 max-w-3xl'>
			<h1 class='text-2xl md:text-3xl font-semibold mb-4 font-mono text-earth-900 dark:text-earth-100'>{title}</h1>
			<p class='text-base text-earth-700 dark:text-earth-300 leading-relaxed'>{description}</p>
		</div>
		<div>
			{
				groupedTags.map(({ letter, tags }) => (
					<div class='flex gap-4 border-b border-earth-300 dark:border-earth-800 py-4 mb-4'>
						<h2 class='text-xl font-semibold text-earth-800 dark:text-earth-200 w-8 shrink-0 font-mono'>{letter}</h2>
						<div class='flex gap-2 flex-wrap'>
							{(tags || [])?.map((tag: Tag) => (
								<a
									class='text-sm text-earth-600 dark:text-earth-400 hover:text-earth-800 dark:hover:text-earth-200 transition-colors font-mono'
									href={`/tags/${slugify(tag.value)}/`}>
									{tag.label} ({tag.postCount})
								</a>
							))}
						</div>
					</div>
				))
			}
		</div>
	</div>
</BaseLayout>
